In [1]:
import os
import pandas as pd
import numpy as np
import requests
import gzip
import json

**Generate human chromosome size data**

In [ ]:
def fetch_chrom_sizes(genome, output_file):
    """Utility for downloading chromosome sizes from UCSC."""
    full_file_path = os.path.join(os.getcwd(), output_file)

    url = f"http://hgdownload.soe.ucsc.edu/goldenPath/{genome}/bigZips/{genome}.chrom.sizes"
    response = requests.get(url)

    if response.status_code == 200:
        with open(full_file_path, "w") as f:
            for line in response.text.splitlines():
                chrom, size = line.split()
                f.write(f"{chrom}\t{size}\n")
        print(f"Chromosome sizes saved to {full_file_path}")
    else:
        print(f"Failed to fetch chromosome sizes for {genome}")


output_file = "chromosome_sizes.txt"
fetch_chrom_sizes("hg38", output_file)

Chromosome sizes saved to /Users/siyuanzhao/Documents/GitHub/CS522_Project/Scripts/chromosome_sizes.txt

**Generate folding input files**

In [6]:
import os
import pandas as pd

def make_dir(d):
    """Utility for making a directory if not existing."""
    if not os.path.exists(d):
        os.makedirs(d)

def get_spe_inter(hic_data, alpha=0.05):
    """Filter Hi-C data for significant interactions based on the alpha threshold."""
    hic_spe = hic_data.loc[hic_data['fdr'] < alpha]
    return hic_spe

def get_fold_inputs(spe_df):
    """Prepare folding input file from the filtered significant interactions."""
    spe_out_df = spe_df[['ibp', 'jbp', 'fq', 'chr', 'fdr']]
    spe_out_df['w'] = 1
    result = spe_out_df[['chr', 'ibp', 'jbp', 'fq', 'w']]
    return result

def process_hic_files(input_folder, seqs_folder, output_folder, alpha=0.05):
    """Process Hi-C files by matching with seqs files for reference data and save results in the output folder."""
    
    make_dir(output_folder)
    
    # Iterate through each file in the Hi-C input folder
    for hic_file_name in os.listdir(input_folder):
        if hic_file_name.endswith(".csv.gz"):
            key_word = hic_file_name.split("_")[0]  # Assume keyword is the prefix before the first underscore
            
            # Find the matching reference file in the seqs folder
            seq_file_name = f"{key_word}_ranges.csv.gz"
            seq_file_path = os.path.join(seqs_folder, seq_file_name)
            
            if not os.path.exists(seq_file_path):
                print(f"No matching reference file found for {hic_file_name}")
                continue
            
            # Load Hi-C data and the corresponding reference data
            hic_file_path = os.path.join(input_folder, hic_file_name)
            all_hic = pd.read_csv(hic_file_path)
            spe_hic = get_spe_inter(all_hic, alpha)
            reference_df = pd.read_csv(seq_file_path, usecols=["chrID", "start_value", "end_value"])

            # Process each row in the reference file for filtering
            for _, row in reference_df.iterrows():
                chrID = row["chrID"]
                start_value = row["start_value"]
                end_value = row["end_value"]
                
                # Filter Hi-C data based on chrID and ibp range
                chr_hic_data = spe_hic[
                    (spe_hic["chr"] == chrID) &
                    (spe_hic["ibp"] >= start_value) &
                    (spe_hic["ibp"] <= end_value)
                ]
                
                if chr_hic_data.empty:
                    continue

                # Prepare folding input data
                fold_hic = get_fold_inputs(chr_hic_data)

                # Generate output file name and save
                output_file_name = f"{key_word}.{chrID}.{start_value}.{end_value}.txt"
                fold_hic_path = os.path.join(output_folder, output_file_name)

                fold_hic.to_csv(fold_hic_path, header=None, index=None, sep="\t", mode="a")

input_folder = '../Data/refined_processed_HiC'
seqs_folder = '../Data/seqs'
output_folder = '../Data/Folding_input'
process_hic_files(input_folder, seqs_folder, output_folder)

**Epigenetic tracks**

In [ ]:
with gzip.open("../Data/epigenetic_tracks/GM_H3K27me3.bed.gz", "rt") as f:
    df = pd.read_csv(f, sep="\t", header=None)
    df.columns = ["chrom", "start", "end", "name", "score", "strand", "signalValue", "pValue", "qValue", "peak"]

filtered_df = df[
    (df["chrom"] == "chr8") &
    (df["start"] >= 127150000) &
    (df["end"] <= 128260000)]

Empty DataFrame
Columns: [chrom, start, end, name, score, strand, signalValue, pValue, qValue, peak]
Index: []

In [16]:
df = pd.read_csv('human_gene_locations_with_names.csv')
df

         Chromosome  Begin    End Orientation               Symbol
0      NC_000001.11  17369  17436           -    ID=gene-MIR6859-1
1      NC_000001.11  29774  35418           +  ID=gene-MIR1302-2HG
2      NC_000001.11  30366  30503           +    ID=gene-MIR1302-2
3      NC_000001.11  34611  36081           -      ID=gene-FAM138A
4      NC_000001.11  65419  71585           +        ID=gene-OR4F5
...             ...    ...    ...         ...                  ...
47527   NC_012920.1  14149  14673           -          ID=gene-ND6
47528   NC_012920.1  14674  14742           -         ID=gene-TRNE
47529   NC_012920.1  14747  15887           +         ID=gene-CYTB
47530   NC_012920.1  15888  15953           +         ID=gene-TRNT
47531   NC_012920.1  15956  16023           -         ID=gene-TRNP

[47532 rows x 5 columns]

In [ ]:
df = pd.read_csv('human_gene_locations_with_names.csv')

df = df[df['Chromosome'].str.startswith("NC_")].copy()

df['Chromosome'] = df['Chromosome'].apply(lambda x: str(int(x.split('.')[0][-2:])))

# + -> plus, - -> minus
df['Orientation'] = df['Orientation'].map({'+': 'plus', '-': 'minus'})

# delete the prefix "ID=gene-"
df['Symbol'] = df['Symbol'].str.replace("ID=gene-", "", regex=False)


df.to_csv('output.csv', sep='\t', index=False)

In [21]:
df = pd.read_csv('../Data/gene_list.csv', sep='\t')
df

       Chromosome  Begin    End Orientation       Symbol
0               1  17369  17436       minus    MIR6859-1
1               1  29774  35418        plus  MIR1302-2HG
2               1  30366  30503        plus    MIR1302-2
3               1  34611  36081       minus      FAM138A
4               1  65419  71585        plus        OR4F5
...           ...    ...    ...         ...          ...
41706          20  14149  14673       minus          ND6
41707          20  14674  14742       minus         TRNE
41708          20  14747  15887        plus         CYTB
41709          20  15888  15953        plus         TRNT
41710          20  15956  16023       minus         TRNP

[41711 rows x 5 columns]

**process IMR chr8 127300000-128300000 example data**

In [20]:
df = pd.read_csv('../Backend/example_data/IMR_chr8_127300000_128300000_original_position.csv')
df

,pid,cell_line,chrid,sampleid,start_value,end_value,x,y,z,insert_time
0,33120501,IMR,chr8,4400,127300000,128300000,-23.733194,-76.128897,-34.196242,2025-04-24 05:38:14
1,33120502,IMR,chr8,4400,127300000,128300000,1.137060,-54.867673,-44.462321,2025-04-24 05:38:14
2,33120503,IMR,chr8,4400,127300000,128300000,5.213407,-41.836601,-13.005428,2025-04-24 05:38:14
3,33120504,IMR,chr8,4400,127300000,128300000,-25.860750,-43.894139,1.351620,2025-04-24 05:38:14
4,33120505,IMR,chr8,4400,127300000,128300000,-32.684830,-10.287689,1.351620,2025-04-24 05:38:14
...,...,...,...,...,...,...,...,...,...,...
999995,34120496,IMR,chr8,1999,127300000,128300000,90.563505,438.941386,242.229293,2025-04-24 05:39:42
999996,34120497,IMR,chr8,1999,127300000,128300000,101.210670,409.450012,256.116634,2025-04-24 05:39:42
999997,34120498,IMR,chr8,1999,127300000,128300000,92.583709,377.215254,264.019638,2025-04-24 05:39:42
999998,34120499,IMR,chr8,1999,127300000,128300000,100.096669,375.157716,230.623777,2025-04-24 05:39:42
999999,34120500,IMR,chr8,1999,127300000,128300000,131.708277,388.188789,228.004820,2025-04-24 05:39:42

In [16]:
df = pd.read_csv('../Backend/example_data/GM_chr8_127300000_128300000_original_distance.csv')
df = df.sort_values(by='sampleid')
df.to_csv('../Backend/example_data/GM_chr8_127300000_128300000_original_distance.csv', index=False)